// src/css/quasar.variables.sass

$primary   : #7d69be;
$secondary : #edebf0;
$accent    : #9C27B0;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #46e359;
$negative  : #C10015;
$info      : #4c2a82;
$warning   : #F2C037;